{% extends 'base.html'%}

{% block title %}
   <section class="row" id="slider">
<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
      {% for s in sliders %}
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="{{ forloop.counter0 }}"
      {% if forloop.counter0==0%}
      
      class="active" aria-current="true" 
      {% endif %}
      aria-label="Slide{{forloop.counter}}"></button>
{% endfor %}
    </div>
    <div class="carousel-inner">
      {% for s in sliders %}
      <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
        <img src="/media/{{ s.image }}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ s.title }}</h5>
          <p>{{ s.details }}</p>
        </div>
      </div>
      {% endfor %}
   
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>


{% endblock %}

{% block content %}



{% endblock %}